.story {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;

  @media only screen and (max-width: $bp-900) {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
}


  &__card {
    width: 33.333334%;

    @media only screen and (max-width: $bp-900) {
      width: 80%;
      margin: 1.5rem 3rem;
}


    &:not(:last-child) {
      margin-right: 3rem;
        @media only screen and (max-width: $bp-900) {
            margin-right: none;
      }
    }

    &-text {
      border: 2px white solid;
      padding: 6rem;
      margin: 5rem 2rem;
      text-align: center; 

      @media only screen and (max-width: $bp-900) {
     padding: 10rem 8rem;
     font-size: 4rem;
  }

      h3 {
        text-transform: uppercase;
      }

      p {
        margin-top: 1rem;
      }
    }
    
    &-1 {
      background-image: linear-gradient(rgba($color-secondary, 0.3), rgba($color-secondary, 0.3)), url(../img/gal-9.jpeg);
      background-position: center;
    }
    &-2 {
      background-image: linear-gradient(rgba($color-secondary, 0.3), rgba($color-secondary, 0.3)), url(../img/food-3.jpg);
      background-position: center;

    }
    &-3 {
      background-image: linear-gradient(rgba($color-secondary, 0.3), rgba($color-secondary, 0.3)), url(../img/beach-girl.jpeg);
      background-position: center;
  
    }
  }
}